<!DOCTYPE html>
<html lang="en" ng-app="taskTrackerApp">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign In - Daily Task Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="SignInController">
<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="login-form p-4 shadow-sm rounded bg-white">
    <h3 class="text-center">Sign In</h3>
    <form ng-submit="submitForm()">
      <div class="form-group">
        <input type="email" ng-model="credentials.email" placeholder="Email" class="form-control" required />
      </div>
      <div class="form-group">
        <input type="password" ng-model="credentials.password" placeholder="Password" class="form-control" required />
      </div>
      <button type="submit" class="btn btn-primary btn-block">Sign In</button>
    </form>
    <div class="text-center mt-3">
      <a href="signup.html">Create an Account</a>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>
